<html>
	<head>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js"></script>
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="./bower_components/angular-local-storage/angular-local-storage.min.js"></script>
		
		<script type="text/javascript">
			var todo = angular
				.module('todo', ['LocalStorageModule'])
				.controller('todoctrl', [
					'$scope',
					'localStorageService', 
					function ($scope, localStorageService){
						$scope.title = 'My Todo List';

						if(!localStorageService.get('tasks')){
							$scope.tasks = [];
						}else{
							$scope.tasks = localStorageService.get('tasks');
						}

						$scope.users = [
								{"username" : "Sylvain"}, 
								{"username": "Anastasia"},
								{"username" : "Jean Michel"}
							];

						// pour éviter une valeur vide dans les filtres, on définit une valeur à l'utilisateur 
						// @see http://stackoverflow.com/questions/12654631/why-does-angularjs-include-an-empty-option-in-select
						if(!localStorageService.get('user_selected')){
							$scope.filter = {user : $scope.users[0]};
						}else{
							$scope.filter = {user : localStorageService.get('user_selected')};
						}
						
						$scope.add_task = function(){
							$scope.tasks.push(
								{
									'title' : $scope.todo_lb,
									'done'  : false,
									"user"  : $scope.filter.user
								});
							$scope.todo_lb = '';
							localStorageService.set('tasks',$scope.tasks);
						}
						
						$scope.archiver = function(data){
							if(!data){
								return;
							}
							
							data.done = true;
							localStorageService.set('tasks',$scope.tasks);
						}
						
						$scope.supprimer_tache = function(index){
							if(index < 0){
								return;
							}
							$scope.tasks.splice(index,1);
							localStorageService.set('tasks',$scope.tasks);
						}
						
						$scope.delete_all_tasks = function(){
							$scope.tasks = [];
							localStorageService.set('tasks',$scope.tasks);
						}

						$scope.update_user = function(){
							localStorageService.set('user_selected',$scope.filter.user);	
						}
					}
				]
			);
		</script>
	</head>
	<body ng-app="todo">
		<div ng-controller="todoctrl" class="MyTodo col-md-3 col-md-offset-5" style="padding:50px;">
				<form role="form">
					<select ng-change="update_user()" ng-model="filter.user" class="form-control" ng-options="user.username for user in users"></select><br>
				</form>
				<h1>{{title}}</h1>
				<ul class="todos list-group" ng-repeat="task in tasks | filter:filter">
					<li ng-if="!task.done" class="list-group-item" ng-click="archiver(task)">{{task.title}}</li>
				</ul>
			<form role="form">
				<div class="form-group">
					<input type="text" class="form-control" ng-model="todo_lb"/>
				</div>
				<button class="btn btn-default" ng-click="add_task()">Ajouter</button>
				<button class="btn btn-default" ng-click="delete_all_tasks()">Vider</button>
			</form>
			<H1>Archive :</H1>
			<ul class="todos list-group" ng-repeat="task in tasks | filter:filter">
				<li ng-click="supprimer_tache($index)" ng-if="task.done" class="list-group-item disabled"><span class="glyphicon glyphicon-star"></span>{{task.title}}</li>
			</ul>
		</div>
	</body>
</html>